.game-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-header__heading {
  font-family: 'Monoton', cursive;
  font-size: 72px;
  margin-bottom: 20px;
}

.game-header__information {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
