.game-level {
  margin-bottom: 20px;
}

.game-board {
  background-color: #4f5d75;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 3px 0;
}

.game-board__tile {
  width: 100px;
  height: 100px;
  margin: 3px;
  perspective: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bfc0c0;
  color: #ffffff;
  font-size: 32px;
  font-family: 'Monoton', cursive;
}

@keyframes tileWiggle {
  0%   { transform:  rotateZ(0deg) }
  25%  { transform:  rotateZ(5deg) }
  50%  { transform:  rotateZ(-5deg) }
  100% { transform:  rotateZ(0deg) }
}


.game-board__tile--wiggling {
  position: relative;
  animation-name: tileWiggle;
  animation-duration: 3s;
}
