/* APP COLORS: ffffff-f0f2ef-2d3142-4f5d75-bfc0c0 */
/*
  white: #ffffff;
  anti-flash-white: #F0F2EF;
  gunmetal: #2d3142;
  black-coral: #4f5d75;
  silver: #bfc0c0;
*/

body {
  align-items: center;
  background-color: #2d3142;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

body p, body button {
  font-family: 'Raleway', sans-serif;
}

body p {
  color: #F0F2EF;
}

.conatiner {
  height: 100vh;
  width: 640px;
}

.txt-white {
  color: #ffffff
}